<!Doctype html>
<html>
<head>
<title>Thunderstorm feedback</title>
<style>
* {box-sizing: border-box}
/* Add padding to containers */
.container {
  padding: 285px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  opacity: 1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity:1;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
body {
    background-color: #6699ff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
img {
      opacity: 0.1;
}
</style>
</head>
<body>
<h1 align="center" style="color:white;font-size: 300%">
Thunderstorm Predictor</h1>
<div align="center" style="color:white;font-size: 150%">This app predicts the percentage probability of occurrence of thunderstorm in the city Austin.<br>The user has to enter todays weather condition and click on submit button.<br>Temperatures have to be entered in fahrenheit.<br>Pressure in Inches<br>Wind speed in miles/hr<br>Precipitation in inches<br>Visibility in miles<br>
</div>
<form method="POST">
<div class="container">
    <!--<input name="text">  -->
<br>
    <label for="TempHighF" style="color: white"><b>TempHighF:</b></label>
      <input type="text" class="form-control" id="TempHighF" name="TempHighF" placeholder="Enter the highest temperature of the day in Farenheit">
      <br>
      <label for="TempAvgF" style="color: white"><b>TempAvgF:</b></label>
      <input type="text" class="form-control" id="TempAvgF" name="TempAvgF" placeholder="Enter the average temperature of the day in Farenheit">
      <br>
      <label for="TempLowF" style="color: white"><b>TempLowF:</b></label>
      <input type="text" class="form-control" id="TempLowF" name="TempLowF" placeholder="Enter the lowest temperature of the day in Farenheit">
      <br>
      <label for="DewPointHighF" style="color: white"><b>DewPointHighF:</b></label>
      <input type="text" class="form-control" id="DewPointHighF" name="DewPointHighF" placeholder="Enter the highest dew point of the day in Farenheit">
      <br>
      <label for="DewPointAvgF" style="color: white"><b>DewPointAvgF:</b></label>
      <input type="text" class="form-control" id="DewPointAvgF" name="DewPointAvgF" placeholder="Enter the average dew point of the day in Farenheit">
      <br>
      <label for="DewPointLowF" style="color: white"><b>DewPointLowF:</b></label>
      <input type="text" class="form-control" id="DewPointLowF" name="DewPointLowF" placeholder="Enter the lowest dew point of the day in Farenheit">
      <br>
      <label for="HumidityHighPercent" style="color: white"><b>HumidityHighPercent:</b></label>
      <input type="text" class="form-control" id="HumidityHighPercent" name="HumidityHighPercent" placeholder="Enter the highest humidity percentage of the day">
      <br>
      <label for="HumidityAvgPercent" style="color: white"><b>HumidityAvgPercent:</b></label>
      <input type="text" class="form-control" id="HumidityAvgPercent" name="HumidityAvgPercent" placeholder="Enter the average humidity percentage of the day">
      <br>
      <label for="HumidityLowPercent" style="color: white"><b>HumidityLowPercent:</b></label>
      <input type="text" class="form-control" id="HumidityLowPercent" name="HumidityLowPercent" placeholder="Enter the lowest humidity percentage of the day">
      <br>
      <label for="SeaLevelPressureHighInches" style="color: white"><b>SeaLevelPressureHighInches:</b></label>
      <input type="text" class="form-control" id="SeaLevelPressureHighInches" name="SeaLevelPressureHighInches" placeholder="Enter the highest sea level pressure in inches">
      <br>
      <label for="SeaLevelPressureAvgInches" style="color: white"><b>SeaLevelPressureAvgInches:</b></label>
      <input type="text" class="form-control" id="SeaLevelPressureAvgInches" name="SeaLevelPressureAvgInches" placeholder="Enter the average sea level pressure in inches">
      <br>
      <label for="SeaLevelPressureLowInches" style="color: white"><b>SeaLevelPressureLowInches:</b></label>
      <input type="text" class="form-control" id="SeaLevelPressureLowInches" name="SeaLevelPressureLowInches" placeholder="Enter the lowest sea level pressure in inches">
      <br>
      <label for="VisibilityHighMiles" style="color: white"><b>VisibilityHighMiles:</b></label>
      <input type="text" class="form-control" id="VisibilityHighMiles" name="VisibilityHighMiles" placeholder="What was the highest visibility of the day in miles">
      <br>
      <label for="VisibilityAvgMiles" style="color: white"><b>VisibilityAvgMiles:</b></label>
      <input type="text" class="form-control" id="VisibilityAvgMiles" name="VisibilityAvgMiles" placeholder="Enter the average visibility of the day in miles">
      <br>
      <label for="VisibilityLowMiles" style="color: white"><b>VisibilityLowMiles:</b></label>
      <input type="text" class="form-control" id="VisibilityLowMiles" name="VisibilityLowMiles" placeholder="Enter the lowest visibility if the day in miles">
      <br>
      <label for="WindHighMPH" style="color: white"><b>WindHighMPH:</b></label>
      <input type="text" class="form-control" id="WindHighMPH" name="WindHighMPH" placeholder="Enter highest recorded wind speed for the day in miles per hour">
      <br>
      <label for="WindAvgMPH" style="color: white"><b>WindAvgMPH:</b></label>
      <input type="text" class="form-control" id="WindAvgMPH" name="WindAvgMPH" placeholder="Enter average recorded wind speed for the day in miles per hour">
      <br>
      <label for="WindGustMPH" style="color: white"><b>WindGustMPH:</b></label>
      <input type="text" class="form-control" id="WindGustMPH" name="WindGustMPH" placeholder="Enter recorded wind gust for the day in miles per hour">
      <br>
      <label for="PrecipitationSumInches" style="color: white"><b>PrecipitationSumInches:</b></label>
      <input type="text" class="form-control" id="PrecipitationSumInches" name="PrecipitationSumInchese" placeholder="Enter recorded precipitation for the day in inches">
      <br>

    <input type="submit" class="registerbtn">
</div>
</form>
<div align="center" style="font-size: 150%; color:white; padding:60px">Since we can't comment on the intensity of thunderstorm with the limited data available,<br> so we have rather planned to display the probability of the same in form of color codes.<br>1.The color red signifies that the occurance of thunderstorm is very certian.<br>2.The color yellow signifies that there's a slight chance of having a thunderstorm the next day<br>3.The color green signifies that it is safe outside, and the occurance of a thundersorm is very unlikely.</div>
</body>
</html>