<form method="POST">
    <input name="text">
<br>
    <label for="TempHighF">TempHighF:</label>
      <input type="text" class="form-control" id="TempHighF" name="TempHighF" placeholder="What's your name?">
      <br>
      <label for="TempAvgF">TempAvgF:</label>
      <input type="text" class="form-control" id="TempAvgF" name="TempAvgF" placeholder="What's your name?">
      <br>
      <label for="TempLowF">TempLowF:</label>
      <input type="text" class="form-control" id="TempLowF" name="TempLowF" placeholder="What's your name?">
      <br>
      <label for="DewPointHighF">DewPointHighF:</label>
      <input type="text" class="form-control" id="DewPointHighF" name="DewPointHighF" placeholder="What's your name?">
      <br>
      <label for="DewPointAvgF">DewPointAvgF:</label>
      <input type="text" class="form-control" id="DewPointAvgF" name="DewPointAvgF" placeholder="What's your name?">
      <br>
      <label for="DewPointLowF">DewPointLowF:</label>
      <input type="text" class="form-control" id="DewPointLowF" name="DewPointLowF" placeholder="What's your name?">
      <br>
      <label for="HumidityHighPercent">HumidityHighPercent:</label>
      <input type="text" class="form-control" id="HumidityHighPercent" name="HumidityHighPercent" placeholder="What's your name?">
      <br>
      <label for="HumidityAvgPercent">HumidityAvgPercent:</label>
      <input type="text" class="form-control" id="HumidityAvgPercent" name="HumidityAvgPercent" placeholder="What's your name?">
      <br>
      <label for="HumidityLowPercent">HumidityLowPercent:</label>
      <input type="text" class="form-control" id="HumidityLowPercent" name="HumidityLowPercent" placeholder="What's your name?">
      <br>
      <label for="SeaLevelPressureHighInches">SeaLevelPressureHighInches:</label>
      <input type="text" class="form-control" id="SeaLevelPressureHighInches" name="SeaLevelPressureHighInches" placeholder="What's your name?">
      <br>
      <label for="SeaLevelPressureAvgInches">SeaLevelPressureAvgInches:</label>
      <input type="text" class="form-control" id="SeaLevelPressureAvgInches" name="SeaLevelPressureAvgInches" placeholder="What's your name?">
      <br>
      <label for="SeaLevelPressureLowInches">SeaLevelPressureLowInches:</label>
      <input type="text" class="form-control" id="SeaLevelPressureLowInches" name="SeaLevelPressureLowInches" placeholder="What's your name?">
      <br>
      <label for="VisibilityHighMiles">VisibilityHighMiles:</label>
      <input type="text" class="form-control" id="VisibilityHighMiles" name="VisibilityHighMiles" placeholder="What's your name?">
      <br>
      <label for="VisibilityAvgMiles">VisibilityAvgMiles:</label>
      <input type="text" class="form-control" id="VisibilityAvgMiles" name="VisibilityAvgMiles" placeholder="What's your name?">
      <br>
      <label for="VisibilityLowMiles">VisibilityLowMiles:</label>
      <input type="text" class="form-control" id="VisibilityLowMiles" name="VisibilityLowMiles" placeholder="What's your name?">
      <br>
      <label for="WindHighMPH">WindHighMPH:</label>
      <input type="text" class="form-control" id="WindHighMPH" name="WindHighMPH" placeholder="What's your name?">
      <br>
      <label for="WindAvgMPH">WindAvgMPH:</label>
      <input type="text" class="form-control" id="WindAvgMPH" name="WindAvgMPH" placeholder="What's your name?">
      <br>
      <label for="WindGustMPH">WindGustMPH:</label>
      <input type="text" class="form-control" id="WindGustMPH" name="WindGustMPH" placeholder="What's your name?">
      <br>
      <label for="PrecipitationSumInches">PrecipitationSumInches:</label>
      <input type="text" class="form-control" id="PrecipitationSumInches" name="PrecipitationSumInchese" placeholder="What's your name?">
      <br>
      <label for="Fog">Fog:</label>
      <input type="text" class="form-control" id="Fog" name="Fog" placeholder="What's your name?">
      <br>
      <label for="Rain">Rain:</label>
      <input type="text" class="form-control" id="Rain" name="Rain" placeholder="What's your name?">
      <br>
      <label for="Thunderstorms">Thunderstorms:</label>
      <input type="text" class="form-control" id="Thunderstorms" name="Thunderstorms" placeholder="What's your name?">
      <br>

    <input type="submit">
</form>
